.badge {
  position: relative;
  top: -25px;
}
.card {
  height: 100%;
}

.card-img-top {
  height: 300px;
}

.card-title {
  line-height: 1;
  text-align: center;
}

.card-body {
  padding: 0.75rem;
  width: 100%;
}

.detail-view {
  display: none;
}
