.badge {
  position: relative;
  top: -22px;
}

.card {
  height: 100%;
}

.card-title {
  line-height: 1;
  text-align: center;
}

.card-body {
  padding: 0.75rem;
  width: 100%;
}

.checkbox {
  width: 128px;
}

.cursor-pointer {
  cursor: pointer;
}

.radius {
  border-radius: 20px;
}
